/Project Backups/
/bestsave.rte
/*.workspace
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/rotary-controller-pcb.iml
/.idea/vcs.xml
